DOCKER_IMAGE=
NODE_ENV=
PORT=

NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_WS_URL=

CHOKIDAR_USEPOLLING=
WATCHPACK_POLLING=


# Возможные значения NEXT_PUBLIC_API_MODE:
#   mock - MSW перехватывает запросы в development режиме
#   real (или значение не указано) - запросы идут на NEXT_PUBLIC_API_URL
#
# Поведение в разных командах:
#   next dev > NODE_ENV=development
#   next build > NODE_ENV=production
#   next start > NODE_ENV=production

NEXT_PUBLIC_API_MODE=real
